<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<!-- sends logs to logback-beagle -->
	<!-- <consolePlugin /> -->

	<property file="configure.properties" />
	<!-- <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" /> -->

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${log.file.path}${log.file.name}.log</file>
		<append>true</append>
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<!-- <triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy> -->

		<encoder>
			<pattern>%d{YYYY-MM-dd.HH:mm:ss.SSS} %msg%n
			</pattern>
		</encoder>

		<!-- <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder"> 
			<layout class="ch.qos.logback.classic.log4j.XMLLayout"> <locationInfo>true</locationInfo> 
			</layout> </encoder> -->

	</appender>
	<root level="DEBUG">
		
		<appender-ref ref="FILE" />
	</root>

</configuration>